* {
  padding: 0;
  margin: 0;
}

h1 {
  padding: 5px;
  color: yellow;
  background-color: red;
  width: 620px;
}

table {
  border-collapse: collapse;
	cursor:url(Shovel.cur),auto;
}

table {
  background-color: darkgreen;
}

td {
  height: 40px;
  width: 40px;
  border: 1px solid black;
}

.kukka0, .aarrekukka0 {
  background-image: url('kukka.png');
  background-repeat: no-repeat;
  background-position: center;
}

.kukka1, .aarrekukka1 {
  background-image: url('mkukka.png');
  background-repeat: no-repeat;
  background-position: center;
}

.ruoho2, .aarreruoho {
  background-image: url('ruoho.png');
  background-repeat: no-repeat;
  background-position: center;
}

.aarre {
  background-image: url('aarre.png');
  background-repeat: no-repeat;
  background-position: center;
}

.kaivettu3 {
  background-color: chocolate;
  background-repeat: no-repeat;
}
